{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
</head>
<body>
    <h1>welcome to event details</h1>
    <h1>{{ event.title }}</h1>
    <p><strong>Event Description:</strong> {{ event.description }}</p>
    <p><strong>Event Venue:</strong> {{ event.venue }}</p>
    <p><strong>Event Date:</strong> {{ event.event_date|date:"d/m/Y" }}</p>
    <p><strong>Registration Deadline:</strong> {{ event.registration_deadline|date:"d/m/Y" }}</p>
    {% comment %} <pre>{{ event }}</pre> {% endcomment %}
    
</body>
</html>